.container {
  width: 100%;
  padding: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.championBox {
  display: flex;
  width: 15%;
  position: relative;
  margin: 10% 5% 10% 5%;
}

.imgSize {
  position: absolute;
  width: 70%;
  margin: 14px 0px 0px 4px;

}

.crest {
  position: absolute;
  width: 75%;
}

@media (max-width: 768px){
  .imgSize {
    position: absolute;
    width: 71%;
    margin: 9px 0px 0px 2px;
  }
}

@media (max-width: 425px){
  .imgSize {
    position: absolute;
    width: 71%;
    margin: 5px 0px 0px 1px;
  }
}
