.container {
  width: 100%;
}

.table {
  margin:auto;
  background-color: white;
  width: 80%;
}

.center{
  text-align: center;
  justify-content: center;
}

.blueTeam_container {
  background-color:rgb(77, 77, 250);
  min-width: 100%;
}
.blueTeam{
  /* display: flex; */
  background-color:rgb(77, 77, 250);
}

.redTeam{
  background-color: rgb(243, 81, 81);
  /* display: flex; */
}

.td{
  border: 1px solid grey;
  width : 33%;
  text-align: center;
}

.banSize{
  width: 5%;
  padding: .5%;

}
.center{
  margin: auto;
  width: 50%;
}

.flexContainer{
  display: flex;
}


