.match_container {
  display: flex;
  padding: 5px 10px;
  margin: 8px 0;
}

.victory {
  background-color: lightskyblue;
}

.defeat {
  background-color: rgb(255, 133, 133);
}

.gameInfo_container {
  width: 20%;
}

.icons_container {
  display: flex;
}

.champion {
  width: 50px;
  height: 50px;
  margin-right: 3px;
}

.summonerSpells img {
  width: 25px;
  height: 25px;
}

.kda_container {
  width: 100px;
  margin: auto 0;
}

.items_container {
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
}

.items_container img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
}

.players_container {
  display: flex;
  align-items: center;
}

.team_container {
  width: 150px;
}

.team_container a {
  color: black;
}

.champ_list {
  width: 20px;
  height: 20px;
  margin-right: 1px;
}
