.match_container {
  display: flex;
  padding: 5px 10px;
  margin: 8px 0;
  justify-content: space-between;
}

.victory {
  background-color: lightskyblue;
}

.defeat {
  background-color: rgb(255, 133, 133);
}

.gameInfo_container {
  width: 125px;
}

.icons_container {
  display: flex;
}

.champion {
  width: 50px;
  height: 50px;
  margin-right: 3px;
}

.summonerSpells img {
  width: 25px;
  height: 25px;
}

.player_stats_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.kda_container {
  display: flex;
  flex-direction: column;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.items_container {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
}

.items_container img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
}

.players_container {
  display: flex;
  align-items: center;
}

.team_container {
  width: 130px;
}

.team_container a {
  color: black;
}

.champ_list {
  width: 20px;
  height: 20px;
  margin-right: 1px;
}

@media (max-width: 550px) {
  .gameInfo_container {
    width: 60px;
    font-size: 0.55em;
  }
  .champion {
    width: 25px;
    height: 25px;
    margin-right: 1.5px;
  }
  .summonerSpells img {
    width: 15px;
    height: 15px;
  }
  .player_stats_container {
    width: 40px;
    font-size: 0.55em;
  }
  .kda_container {
    width: 50px;
    font-size: 0.55em;
  }
  .items_container {
    display: flex;
    width: 85px;
    justify-content: center;
    align-items: center;
  }
  .items_container img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 2px;
  }
  .build {
    display: flex;
    width: 63px;
    flex-wrap: wrap;
  }
  .players_container {
    display: none;
  }
}
