.flexcontainer{
  display: flex;
}

.flexcontainer h5 {
  margin: 0 0 1px 0
}

.profileContainer{
  display: flex;
  width: 100%;
  /*height:25%; */
}

.flexRankIcon{
  flex:1;
}

.flexItem{
  flex: 1;
  text-align:left;
  margin: auto 0;
  font-size: 1em;
}

.flexItemCentered{
  flex: 1;
  text-align:center;
  margin: auto 0;
  font-size: 1em;
}

@media (max-width: 768px){
  .flexRankIcon {
    flex: .5;
  }
}

@media (max-width: 425px){
  .flexIconContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    flex: .25;
    text-align:center;
    margin: auto 0;
  }
  .flexcontainer {
    display: flex;
    flex-direction: column;
  }
  .flexItem {
    flex: 1;
    text-align:center;
    margin: auto 0;
    font-size: 0.5em;
  }

}
