.summoner_tabs_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.summoner_tabs_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  flex-wrap: wrap;
  width: 100%;
  background-color: #66B9BF;
  box-shadow: 0 10px #07889B;
  margin-bottom: 10px;
}

.tab_button {
  border-style: none;
  padding: 5px 10px;
  color: white;
  background-color: #66B9BF;
}

.tab_button:hover {
  background-color: #07889B
}

.tab_button:focus {
  background-color: #07889B;
  transform: translateY(5px);
}

.tab_item_container {
  display: flex;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 50px;
  border-style: none;
  background-color: white;
}

.mobile_tabs {
  display: none;
}

@media (max-width: 550px) {
  .tab_item_container {
    margin-top: 0px;
  }
  .summoner_tabs_container {
    display: none;
  }
}
