{
  "env": {
    "browser": true,
    "node": true
  },
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import", "react", "jsx-a11y"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight", "to" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  }
}
