.container {
  padding: 8vh 0 5vh 0;
  overflow: hidden;
  margin: auto;
  max-width: 1920px;
}

.slider {
  padding: 0 0 3vh 0;
}

.content {
  border-style: solid;
  border-width: 4px;
  border-color: #07889B;
  width: 320px;
  margin: auto;
  background-color: white;
}

.image_container {
  height: 180px;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 1.2em;
  overflow: hidden;
  padding: 15px 0 0 0;
}

.text_container {
  margin: auto;
  text-align: center;
  height: 150px;
}

.time_container {
  text-align: right;
  padding: 0.33em 1em;
  background-color: gray;
  color: white;
  font-size: 0.8em;
}

.news {
  margin: 0 10%;
}

@media (max-width: 500px) {
  .content {
    width: 240px;
  }
  .image_container {
    height: 140px;
  }
  .text_container {
    height: 140px;
  }
  .title {
    font-size: 1em;
    padding-top: 10px;
  }
}

@media (max-height: 700px) {
  .container {
    padding-top: 5vh;
  }
}

