.container {
  display:flex;
  width: 100%;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 2%;
  flex: 1;
  max-width: 400px;
}

.label {
  width: 100%;
  margin: 0;
}

.input {
  font-size: 1em;
  border-style: none;
  width: 100%;
  padding-left: 15px;
}

.input:focus {
  outline: none;
}

.go_button {
  background-color: white;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  font-size: 9px;
  text-align: center;
  margin: auto;
  color: teal;
}

.go_button:hover {
  background-color: teal;
  color: white;
}

@media (max-width: 700px) {
  .form {
    flex: 1;
    border-width: .5em;
    color: black;
    border-radius: 5%;
    border-style: outset;
    border-color: teal;
  }
  .go_button {
    background-color: teal;
    color: white;
  }
  .go_button:hover {
    background-color: white;
    color: teal;
  }
}
