.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex: 0.33;
  color: black;
  border-radius: 5%;
  border-style: outset;
  border-width: 1em;
  border-color: teal;
  align-items: center;
  justify-content: space-between;
}

.label {
  display:flex;
  flex: 1;
  margin-bottom: 0px;
}

.input {
  font-size: 1em;
  border-style: none;
  margin-left: 10px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.button_wrapper {
  background-color: teal;
  border-radius: 50%;
  text-align: center;
}

.go_button {
  background-color: teal;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 13px;
  text-align: center;
  color: white;
  margin: auto;
}

.go_button:hover {
  background-color: white;
  color: teal;
}

@media (max-width: 1100px) {
  .form {
    flex: 0.55;
    border-width: .70em;
  }
}

@media (max-width: 700px) {
  .form {
    flex: 0.65;
    border-width: .60em;
  }
  .go_button {
    height: 40px;
    width: 40px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .form {
    flex: 0.75;
    border-width: .5em;
  }
  .go_button {
    height: 33px;
    width: 33px;
    font-size: 9px;
  }
}
