html, body {
  min-height: 100%;
  margin: 0;
  background-color: #fafafa;
}

#app {
  height: 100%;
  margin: auto;
  width: 100vw;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

